.searchBar {
    border-radius: 0px 37px 37px 0px;
}

.searchBar input{
    height: 45px;
    width: 340px;
    border: none;
    font-size: 15px;
    background: black;
    padding: 0 10px 0 10px;
    color: white;
}

.searchBar button {
    width: 45px;
    height: 45px;
    border: none;
    float: left;
    background: url("../assets/images/search.png") 6px 6px no-repeat;
}
.searchBar button:hover{
    background: url("../assets/images/search-hover.png") 6px 6px no-repeat;
}