.form {
    border: 2px solid #46d2e9;
    padding: 5px;
    width: 600px;
    margin: 0 auto;
}

.form h3 {
    margin: 5px auto 10px;
    text-align: center;
    text-transform: uppercase;
}

.error {
    color: darkred;
}

.success {
    color: mediumseagreen;
}

.form input, form select, input {
    position: relative;
    padding: 4px;
    display: block;
    margin: 10px auto 10px;
    border-radius: 5px;
    border: 1px solid #46d2e9;
    outline: none;
    width: 95%;
}

