.heading {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #fff;
    color: #46d2e9;
    height: 60px;
    margin: 50px 0 30px;
    border: 2px solid #46d2e9;
}

.headingTitle {
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.headingTitle p {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    font-size: 20px;
    margin-left: 10px;
}