#menu {
    position: fixed;
    height: 100%;
    transform: translateX(-258%);
    border-right: 2px solid #46d2e9;
}

#menu.active {
    width: 200px;
    transform: translateX(0%);
}


#menu, .menu-box {
    z-index: 11;
    background: #fff;
    transition: all 1s;
}

.menu-box {
    position: relative;
    top: 48px;
    width: 100%;
}

.menu-box nav ul{
    margin: 0;
    padding: 0 0 0 20px;
}

.menu-box nav ul li {
    /*	display: inline-block;*/
    list-style: none;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.menu-box nav li a {
    position: relative;
    display: block;
    margin: 45px 0px;
    text-align: left;
    outline: none;
    color: #46d2e9;
    text-decoration: none;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 15px;
}

.menu-box nav a:hover,
.menu-box nav a:focus {
    outline: none;
}