
.inner {
    transition: all 1s;
    position: fixed;
    z-index: 550;
    transform: translateY(-100%);
    left: 50%;
    width: 500px;
    display: flex;
    align-items: center;
    min-height: calc(100% - 60px);
    justify-content: center;
    flex-direction: column;
}

.inner.active {
    transform: translateY(0px) translateX(-50%);
}

.header {
    line-height: 40px;
    height: 40px;
    background: #46d2e9;
    color: #fff;
    width: 100%;
    font-size: 16px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.content {
    z-index: 1;
    line-height: 1;
    width: 100%;
    background: #fff;
    min-height: 100px;
    padding: 15px
}

.overlay {
    position: fixed;
    z-index: 500;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    padding: 0;
    display: none;
    width: 100%;
    border: 0;
}

.overlay.active {
    display: block;
}


button {
    cursor: pointer
}