.searchBar {
    border-radius: 0px 37px 37px 0px;
    display: flex;
    align-items: center;
    height: 45px;
}

.searchBar input {
    height: 100%;
    width: 340px;
    border: none;
    font-size: 15px;
    border: 2px solid #46d2e9;
    padding: 0 10px 0 10px;
    margin: 0;
}

.searchBar button {
    width: 45px;
    height: 49px;
    border: 2px solid #46d2e9;
    border-left: none;
    margin: 0;
    color: #fff;
}

.searchBar button:hover {
    background: #fff;
    color: #46d2e9;
}